[submodule "oboron-cli-conformance/tests/vectors"]
	path = oboron-cli-conformance/tests/vectors
	url = https://gitlab.com/oboron/oboron-test-vectors.git
[submodule "obu-cli-conformance/tests/vectors"]
	path = obu-cli-conformance/tests/vectors
	url = https://gitlab.com/oboron/oboron-test-vectors.git
